
<div id="root">
</div>


<script>
//path to remote files
//var remote_files_path = "https://data.unicef.org/wp-content/plugins/wp_dotstat_data_explorer_cfg";
//name of JSON config file for this particular instance of the Data Explorer
var json_config = "PCO_subnat"
//version number so we can always increment if we need to force a cache refresh
var version="1.0";
</script>
<script src="https://data.unicef.org/wp-content/plugins/wp_dotstat_data_explorer_cfg/js/bundle.js?v=1.0"></script>